In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction.text import CountVectorizer
from keras.preprocessing import sequence, text
from keras.layers import Input, Embedding
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
from nltk import word_tokenize
from nltk.corpus import stopwords
from textblob import TextBlob
import string
from sentence_transformers import SentenceTransformer, LoggingHandler
import numpy as np
import logging

[nltk_data] Downloading package stopwords to /home/ryan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/ryan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/ryan/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [106]:
stop_words = list(set(stopwords.words('english')))
punctuation = string.punctuation

In [107]:
df = pd.read_csv('../MachineHackElectronicPrice/featurelast.csv', index_col =False)
zf = pd.read_csv('../MachineHackElectronicPrice/featurelasttest.csv', index_col =False)

In [108]:
zf = zf.fillna(zf.mean())

In [109]:
zf.isnull().sum()

Brand                     0
Model_Info                0
Additional_Description    0
Locality                  0
City                      0
State                     0
state_mean                0
state_median              0
state_sum                 0
brand_mean                0
brand_median              0
brand_sum                 0
statePrice_median         0
statePrice_mean           0
statePrice_sum            0
dtype: int64

In [110]:
# np.set_printoptions(threshold=100)

# logging.basicConfig(format='%(asctime)s - %(message)s',
#                     datefmt='%Y-%m-%d %H:%M:%S',
#                     level=logging.INFO,
#                     handlers=[LoggingHandler()])
# #### /print debug information to stdout

In [111]:
# mo = SentenceTransformer('bert-base-nli-mean-tokens')

In [112]:
# sentences = ['This framework generates embeddings for each input sentence',
#     'Sentences are passed as a list of string.', 
#     'The quick brown fox jumps over the lazy dog.']
# sentence_embeddings = mo.encode(sentences)

In [113]:
# for sentence, embedding in zip(sentences, sentence_embeddings):
#     print("Sentence:", sentence)
#     print("Embedding:", embedding)
#     print("")

In [114]:
df['text'] = df.apply(lambda row: ' '.join ([str(row['Model_Info']), str(row['Additional_Description'])]), 
                                          axis=1)
zf['text'] = zf.apply(lambda row: ' '.join ([str(row['Model_Info']), str(row['Additional_Description'])]), 
                                          axis=1)

index=range(len(df))
columns=[i for i in range(0,768)]
emedding_df = pd.DataFrame(index=index, columns=columns)

In [79]:
sentences = list(df['text'].values)

In [80]:
sentence_embeddings = mo.encode(sentences)

Batches: 100%|██████████| 291/291 [01:42<00:00,  2.84it/s]

In [67]:
# for sentence, embedding in zip(sentences, sentence_embeddings):
#     print("Sentence:", sentence)
#     print("Embedding:", embedding)
#     print("")

In [83]:
for i, embedding in zip(range(len(df)), sentence_embeddings):
    emedding_df.loc[i] = embedding

In [86]:
emedding_df.to_csv('train_embedding.csv' , index=False)

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,-0.134302,1.841787,-0.032005,0.098946,0.880377,-0.011538,-0.059927,0.627373,-0.405498,-0.063990,...,-0.019527,-0.561037,-0.666514,-0.295823,0.616575,-0.538386,0.190308,-0.254338,0.336432,0.615816
1,-0.057814,1.715851,0.265288,0.096581,0.929865,-0.715283,0.595408,0.363113,0.366419,-0.222283,...,-0.330860,-0.431156,-0.785489,-0.924471,0.436192,-0.633850,0.310723,-0.546164,0.461600,0.473949
2,0.025378,1.194025,-0.017828,-0.026335,0.558090,-0.938517,-0.302481,0.511737,-0.279340,0.035979,...,-0.383665,-0.483515,-0.826482,0.011865,0.377774,-0.300599,-0.263386,-0.308437,0.081057,0.170455
3,-0.115508,1.252552,-0.626095,-0.489694,0.740905,-0.171115,0.681815,1.015907,-0.432514,0.220675,...,-0.715330,-0.576874,-0.925370,0.676233,0.544834,-0.885860,0.142336,-0.519382,0.172675,0.116933
4,0.059109,0.836542,0.414619,0.029666,0.794152,-0.751975,0.437220,0.596713,-0.083592,-0.179522,...,-0.185043,-1.366981,-0.884031,-0.616342,0.311317,-0.780421,-0.638294,0.101647,0.438385,-0.023801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2321,-0.302356,1.290744,-0.471243,-0.271356,0.443505,-0.604675,0.452580,0.485528,0.071885,0.025578,...,-0.637123,-1.307689,-1.139329,-0.207450,0.289623,-0.681043,-0.008258,-0.318354,0.397009,0.021957
2322,-0.402213,1.015498,0.135966,-0.071490,0.707048,-1.066091,-0.117560,0.643553,0.258705,-0.162747,...,-0.651421,-1.042503,-0.173687,-0.567842,-0.007803,-0.359876,-0.169315,-0.427719,0.382901,-0.122152
2323,-0.780009,0.983658,0.686496,-0.191648,0.674668,-0.664183,0.322958,0.479175,0.153592,0.003934,...,-0.422916,-1.163097,-1.084138,-0.973645,-0.025358,-0.544439,0.168935,-0.280199,-0.141828,-0.397902
2324,0.443803,1.408018,0.731368,0.103141,0.601282,-0.209639,0.646656,0.226770,0.083107,0.477619,...,-0.791466,-1.118483,-1.121812,-0.968512,-0.094672,-0.570851,0.003228,-0.346097,-0.099430,-0.230118
2325,0.126238,1.038057,0.554655,0.031112,1.078466,-0.222206,0.067404,0.574230,-0.874648,0.500334,...,-0.283148,-0.985580,-0.988028,-0.072594,0.767195,-0.067526,0.621967,-0.214327,-0.135461,0.655346

In [77]:
emedding_df

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
df['Model_Infolen'] = df['Model_Info'].apply(len)
df['Additional_Descriptionlen'] = df['Additional_Description'].apply(len)

zf['Model_Infolen'] = df['Model_Info'].apply(len)
zf['Additional_Descriptionlen'] = zf['Additional_Description'].apply(len)

In [116]:
df['Model_Info']
df['Additional_Description']
df['text'].head()

0     name0 name234 64gb space grey  1yesr old mobi...
1     name87 watch name251 3 38 mm gps name119 name...
2     name74 drop name87 name0 name1150 32gb 18000 ...
3      iphone 6s space grey 32 gb  101005400 phone 011
4     iphone 6 hai mast hai mere ko pesse ki jarura...
Name: text, dtype: object

In [117]:
df['char_count'] = df['text'].apply(len)
df['word_count'] = df['text'].apply(lambda x: len(x.split()))
df['word_density'] = df['char_count'] / (df['word_count']+1)
# df['punctuation_count'] = df['text'].apply(lambda x: len("".join(_ for _ in x if _ in punctuation))) 
# df['title_word_count'] = df['text'].apply(lambda x: len([wrd for wrd in x.split() if wrd.istitle()]))
# df['upper_case_word_count'] = df['text'].apply(lambda x: len([wrd for wrd in x.split() if wrd.isupper()]))
# df['stopword_count'] = df['text'].apply(lambda x: len([wrd for wrd in x.split() if wrd.lower() in stop_words]))

zf['char_count'] = zf['text'].apply(len)
zf['word_count'] = zf['text'].apply(lambda x: len(x.split()))
zf['word_density'] = zf['char_count'] / (zf['word_count']+1)
# df['punctuation_count'] = df['text'].apply(lambda x: len("".join(_ for _ in x if _ in punctuation))) 
# df['title_word_count'] = df['text'].apply(lambda x: len([wrd for wrd in x.split() if wrd.istitle()]))
# df['upper_case_word_count'] = df['text'].apply(lambda x: len([wrd for wrd in x.split() if wrd.isupper()]))
# df['stopword_count'] = df['text'].apply(lambda x: len([wrd for wrd in x.split() if wrd.lower() in stop_words]))

In [118]:
df[['char_count', 'word_count', 'word_density']].head(10)

   char_count  word_count  word_density
0          83          12      6.384615
1         154          23      6.416667
2         199          30      6.419355
3          48           9      4.800000
4          81          17      4.500000
5         110          16      6.470588
6          69          11      5.750000
7          91          16      5.352941
8          76          10      6.909091
9         113          18      5.947368

In [119]:
# def get_polarity(text):
#     try:
#         textblob = TextBlob(unicode(text, 'utf-8'))
#         pol = textblob.sentiment.polarity
#     except:
#         pol = 0.0
#     return pol

# def get_subjectivity(text):
#     try:
#         textblob = TextBlob(unicode(text, 'utf-8'))
#         subj = textblob.sentiment.subjectivity
#     except:
#         subj = 0.0
#     return subj

In [120]:
# df['polarity'] = df['text'].apply(get_polarity)
# df['subjectivity'] = df['text'].apply(get_subjectivity)

In [121]:
pos_dic = {
    'noun' : ['NN','NNS','NNP','NNPS'],
    'pron' : ['PRP','PRP$','WP','WP$'],
    'verb' : ['VB','VBD','VBG','VBN','VBP','VBZ'],
    'adj' :  ['JJ','JJR','JJS'],
    'adv' : ['RB','RBR','RBS','WRB']
}

# function to check and get the part of speech tag count of a words in a given sentence
def pos_check(x, flag):
    cnt = 0
    try:
        wiki = TextBlob(x)
        for tup in wiki.tags:
            ppo = list(tup)[1]
            if ppo in pos_dic[flag]:
                cnt += 1
    except:
        pass
    return cnt

df['noun_count'] = df['text'].apply(lambda x: pos_check(x, 'noun'))
df['verb_count'] = df['text'].apply(lambda x: pos_check(x, 'verb'))
df['adj_count'] = df['text'].apply(lambda x: pos_check(x, 'adj'))
df['adv_count'] = df['text'].apply(lambda x: pos_check(x, 'adv'))
#df['pron_count'] = df['text'].apply(lambda x: pos_check(x, 'pron'))

zf['noun_count'] = zf['text'].apply(lambda x: pos_check(x, 'noun'))
zf['verb_count'] = zf['text'].apply(lambda x: pos_check(x, 'verb'))
zf['adj_count'] = zf['text'].apply(lambda x: pos_check(x, 'adj'))
zf['adv_count'] = zf['text'].apply(lambda x: pos_check(x, 'adv'))

In [122]:
df[['noun_count', 'verb_count', 'adj_count', 'adv_count']].head(10)

   noun_count  verb_count  adj_count  adv_count
0           5           0          3          1
1           8           4          5          0
2          10           0          6          6
3           5           0          0          0
4          15           0          1          0
5           6           1          4          2
6           4           1          2          0
7           6           2          4          1
8           3           1          1          0
9           9           0          2          0

In [38]:
# vect = TfidfVectorizer(stop_words='english', use_idf=True, min_df=50, ngram_range=(1,2))
# X = vect.fit_transform(df['Model_Info'])
# print (X.shape)
# print (type(X))

In [39]:
# #df['Model_text'] = df.apply(lambda row: ' '.join ([str(row['Model_Info']), str(row['Additional_Description'])]), 
# #                                          axis=1)

# #model_text = list(df['Model_Info'].values)

# # word level tf-idf for model Infoarticle text
# vect_word1 = TfidfVectorizer(max_features=500000,analyzer='word', stop_words='english', ngram_range=(1,3), dtype=np.float32) 
# vect_word1.fit(df['Model_Info'].values)
# tfidf_complete1 = vect_word1.transform(df['Model_Info'].values)


# # # word level tf-idf for resource text
# # vect_word = TfidfVectorizer(max_features=1000, analyzer='word', stop_words='english', ngram_range=(1,3), dtype=np.float32) 
# # vect_word.fit(resource_text)
# # tfidf_resource = vect_word.transform(resource_text)

In [40]:
tfidf_complete1.shape

(2326, 10199)

In [17]:
df1 = pd.DataFrame(tfidf_complete1.toarray())

In [18]:
# tfidf1 = dict(zip(vect_word1.get_feature_names(), vect_word.idf_))
# tfidf1 = pd.DataFrame(columns=['model_word_tfidf']).from_dict(dict(tfidf1), orient='index')
# tfidf1.columns = ['model_word_tfidf']

In [19]:
# tfidf1.sort_values(by=['model_word_tfidf'], ascending=False)

In [20]:
# tfidf_complete1.shape

In [21]:
# df['article_text'] = df.apply(lambda row: ' '.join ([str(row['Model_Info']), str(row['Additional_Description'])]), 
#                                           axis=1)

#des_text = list(df['Additional_Description'].values)

# word level tf-idf for model Infoarticle text
vect_word = TfidfVectorizer(max_features=500000, analyzer='word', stop_words='english', ngram_range=(1,3), dtype=np.float32) 
vect_word.fit(df['Additional_Description'].values)
tfidf_complete = vect_word.transform(df['Additional_Description'].values)


# # word level tf-idf for resource text
# vect_word = TfidfVectorizer(max_features=1000, analyzer='word', stop_words='english', ngram_range=(1,3), dtype=np.float32) 
# vect_word.fit(resource_text)
# tfidf_resource = vect_word.transform(resource_text)

In [22]:
tfidf = dict(zip(vect_word.get_feature_names(), vect_word.idf_))
tfidf = pd.DataFrame(columns=['des_word_tfidf']).from_dict(dict(tfidf), orient='index')
tfidf.columns = ['des_word_tfidf']

In [23]:
tfidf[tfidf.sort_values(by=['des_word_tfidf'], ascending=False)>5]

                    des_word_tfidf
000                       8.059188
01                             NaN
01 10100159400            5.574281
01 10100159400 8oo        5.574281
011                       8.059188
...                            ...
ᴘʟᴜs ғᴜʟʟ                 8.059188
ᴘʟᴜs ғᴜʟʟ ᴋɪᴛ             8.059188
ᴜʀɢᴇɴᴛ                    8.059188
ᴜʀɢᴇɴᴛ sᴀʟᴇ               8.059188
ᴜʀɢᴇɴᴛ sᴀʟᴇ ᴘʜᴏɴᴇ         8.059188

[42804 rows x 1 columns]

In [24]:
df2 = pd.DataFrame(tfidf_complete.toarray())

In [25]:
# df['article_text'] = df.apply(lambda row: ' '.join ([str(row['Model_Info']), str(row['Additional_Description'])]), 
#                                           axis=1)

# article_text = list(df['article_text'].values)

# # word level tf-idf for model Infoarticle text
# vect_word = TfidfVectorizer(max_features=25000000000, analyzer='word', stop_words='english', ngram_range=(1,3), dtype=np.float32) 
# vect_word.fit(article_text)
# tfidf_complete = vect_word.transform(article_text)


# # # word level tf-idf for resource text
# # vect_word = TfidfVectorizer(max_features=1000, analyzer='word', stop_words='english', ngram_range=(1,3), dtype=np.float32) 
# # vect_word.fit(resource_text)
# # tfidf_resource = vect_word.transform(resource_text)

In [26]:
#ndf = pd.concat([df1,df2,df],axis=1) this will suck big time

In [27]:
# tfidf = dict(zip(vect_word.get_feature_names(), vect_word.idf_))
# tfidf = pd.DataFrame(columns=['article_word_tfidf']).from_dict(dict(tfidf), orient='index')
# tfidf.columns = ['article_word_tfidf']

In [ ]:
# tfidf.sort_values(by=['article_word_tfidf'], ascending=False)

In [123]:
# create count vectorizer first
cvectorizer = CountVectorizer(min_df=4, max_features=4000, ngram_range=(1,2))
cvz = cvectorizer.fit_transform(df['text'])
cvztest = cvectorizer.transform(zf['text'])

# generate topic models using Latent Dirichlet Allocation
lda_model = LatentDirichletAllocation(n_components=20, learning_method='online', max_iter=20, random_state=42)
X_topics = lda_model.fit_transform(cvz)
t_topics = lda_model.transform(cvztest)

In [29]:
n_top_words = 8
topic_summaries = []

# get topics and topic terms
topic_word = lda_model.components_ 
vocab = cvectorizer.get_feature_names()

for i, topic_dist in enumerate(topic_word):
    topic_words = np.array(vocab)[np.argsort(topic_dist)][:-(n_top_words+1):-1]
    topic_summaries.append(' '.join(topic_words))
    print('Topic {}: {}'.format(i, ' | '.join(topic_words)))

Topic 0: ram | camera | gb | 4gb | display | dual | internal | rom
Topic 1: ipad | 1010062600 | location | 1010062600 location | 9791157412 | name54 name0 | call 9791157412 | 9791157412 saravanan
Topic 2: 5s | 16gb | 101004500 | name0 5s | 5s 16gb | 10100000 5s | 10100000 | cards
Topic 3: available | 1010095300 | 1010037800 | 1010095300 1010037800 | 1010095400 | 101008700 10100000 | accepted | 101008700
Topic 4: sealed | pack | sealed pack | new sealed | green | warranty | 10100000 xs | name49
Topic 5: xs | max | name0 | xs max | 10100000 | 64gb | new | 256gb
Topic 6: 1010011300 | please | accepted | 1010095300 | available | 10100102200 | near | call
Topic 7: available | best | models | price | phone | delivery | cash | name0
Topic 8: condition | name0 | 10100000 | box | 32gb | accessories | bill | available
Topic 9: contact | buyers | serious | genuine | serious buyers | 101006600 | 101006600 galaxy | buyers contact
Topic 10: condition | gb | phone | name0 | old | good | 64 | good condition
Topic 11: box | sell | want | bill | old | urgent | charger | phone
Topic 12: rs | 10100164200 | 1010054300 | 10100158600 | 1723 | 1723 rs | 10100169600 1010054300 | 10100159200 01
Topic 13: gb | gold | 6s | phone | iphone | rose | rose gold | iphone 6s
Topic 14: shop | 1010012300 | done | debit | macbook | 1010095300 debit | ipad mobile | macbook ipad
Topic 15: redmi | call | fix | color | rate | 100 | details | colour
Topic 16: 101006200 | 101006100 | available | store | condition | 101006100 101006200 | 1010014000 | 10100121200
Topic 17: available | 1010011500 | call | 1010011500 available | 10100115600 | 1010095100 | 1010099800 | 10100199000
Topic 18: 101005400 | brand | phone | condition | message | 101005400 condition | name54 | 64gb
Topic 19: months warranty | hai | months | warranty | used phone | phone | used | conditions

In [51]:
X_topics.shape

(2326, 20)

In [52]:
df.head()

,Brand,Model_Info,Additional_Description,Locality,City,State,Price,locality_mean,locality_median,locality_sum,...,text,Model_Infolen,Additional_Descriptionlen,char_count,word_count,word_density,noun_count,verb_count,adj_count,adv_count
0,1,name0 name234 64gb space grey,1yesr old mobile number 999two905two99 bill c...,878,8,2,15000,15000.0,15000.0,15000,...,name0 name234 64gb space grey 1yesr old mobi...,30,52,83,12,6.384615,5,0,3,1
1,1,name87 watch name251 3 38 mm gps name119 name...,one 101009200 3 perfect working condition def...,940,8,2,17000,14000.0,14000.0,28000,...,name87 watch name251 3 38 mm gps name119 name...,64,89,154,23,6.416667,8,4,5,0
2,1,name74 drop name87 name0 name1150 32gb 18000 ...,10100000 6s 16 gb storage around 2 yr old acc...,78,8,2,18000,18000.0,18000.0,18000,...,name74 drop name87 name0 name1150 32gb 18000 ...,79,119,199,30,6.419355,10,0,6,6
3,1,iphone 6s space grey 32 gb,101005400 phone 011,191,8,2,17500,17500.0,17500.0,17500,...,iphone 6s space grey 32 gb 101005400 phone 011,27,20,48,9,4.800000,5,0,0,0
4,1,excellent condition new phone one hand use 7 ...,101004500 note 5 101004900 exchange,931,8,2,41000,37250.0,31500.0,149000,...,excellent condition new phone one hand use 7 ...,55,36,92,15,5.750000,7,0,3,0

In [124]:
topicdf= pd.DataFrame(X_topics) 
topiczf= pd.DataFrame(t_topics)

In [125]:
topiczf

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.109254,0.002632,0.002632,0.002632,0.002632,0.002632,0.002632,0.002632,0.612098,0.002632,0.177772,0.058771,0.002632,0.002632,0.002632,0.002632,0.002632,0.002632,0.002632,0.002632
1,0.002000,0.002000,0.002000,0.002000,0.002000,0.002000,0.002000,0.002000,0.270425,0.002000,0.160214,0.002000,0.002000,0.002000,0.002000,0.002000,0.535361,0.002000,0.002000,0.002000
2,0.005556,0.005556,0.434040,0.005556,0.005556,0.005556,0.005556,0.288793,0.182723,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556
3,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.200932,0.002500,0.574850,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.181719
4,0.129613,0.001042,0.001042,0.001042,0.331926,0.001042,0.001042,0.001042,0.135036,0.001042,0.236497,0.001042,0.001042,0.059953,0.001042,0.001042,0.001042,0.092392,0.001042,0.001042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,0.003125,0.003125,0.003125,0.003125,0.205835,0.003125,0.003125,0.003125,0.737915,0.003125,0.003125,0.003125,0.003125,0.003125,0.003125,0.003125,0.003125,0.003125,0.003125,0.003125
993,0.091628,0.001667,0.001667,0.001667,0.001667,0.274106,0.001667,0.001667,0.425656,0.001667,0.181944,0.001667,0.001667,0.001667,0.001667,0.001667,0.001667,0.001667,0.001667,0.001667
994,0.213986,0.000595,0.000595,0.000595,0.000595,0.000595,0.000595,0.000595,0.205004,0.000595,0.028150,0.000595,0.000595,0.013456,0.000595,0.000595,0.504673,0.000595,0.000595,0.026397
995,0.001136,0.001136,0.001136,0.001136,0.001136,0.026335,0.001136,0.250015,0.675897,0.001136,0.001136,0.029571,0.001136,0.001136,0.001136,0.001136,0.001136,0.001136,0.001136,0.001136
996,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.952500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500

In [126]:
tdf = pd.concat([df,topicdf],axis=1)
tzf = pd.concat([zf,topiczf],axis=1)

In [127]:
tzf

,Brand,Model_Info,Additional_Description,Locality,City,State,state_mean,state_median,state_sum,brand_mean,...,10,11,12,13,14,15,16,17,18,19
0,1,name0 55s66s66s778xxsxsmax etc,good condition 11months old single scratch we...,570,11,4,19306.768939,15000.0,5096987,27553.595887,...,0.177772,0.058771,0.002632,0.002632,0.002632,0.002632,0.002632,0.002632,0.002632,0.002632
1,1,slightly used excellent condition name0 5 sale,101008700 1010030600 1010034300 10100192200 1...,762,8,2,25613.621212,18000.0,6761996,27553.595887,...,0.160214,0.002000,0.002000,0.002000,0.002000,0.002000,0.535361,0.002000,0.002000,0.002000
2,1,name0 sx ios12 top letast model bill call,1010017300 delivery,60,13,5,27056.220588,19999.5,14718584,27553.595887,...,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556
3,1,name87 name0 x 64gb going lowest 41900,phone 1010023400 64 gb excellent condition sale,640,15,5,27056.220588,19999.5,14718584,27553.595887,...,0.574850,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.181719
4,1,name0 5s proper condition one handedly used,full kit available 10100248300 condition 4gb ...,816,2,6,26910.384375,20000.0,8611323,27553.595887,...,0.236497,0.001042,0.001042,0.059953,0.001042,0.001042,0.001042,0.092392,0.001042,0.001042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,1,name0 7 32gb sale accessories,wife upgrading mobile 10100000 x 101009600 sp...,796,4,0,23984.330739,16000.0,6163973,27553.595887,...,0.003125,0.003125,0.003125,0.003125,0.003125,0.003125,0.003125,0.003125,0.003125,0.003125
993,1,name233 8 pro 6gb ram 128gb rom 1year old mobile,101004800 1010036800 1 month 12 days old 1010...,145,17,7,27324.167464,20000.0,5710751,27553.595887,...,0.181944,0.001667,0.001667,0.001667,0.001667,0.001667,0.001667,0.001667,0.001667,0.001667
994,0,name233 name2815 6 gb ram 128 gb rom blue 3 m...,10100105200 leeco 1010018400 10100221100 1010...,352,13,5,27056.220588,19999.5,14718584,10374.011765,...,0.028150,0.000595,0.000595,0.013456,0.000595,0.000595,0.504673,0.000595,0.000595,0.026397
995,1,name269 phone 6,phone best condition 101006600 device selling...,350,4,0,23984.330739,16000.0,6163973,27553.595887,...,0.001136,0.029571,0.001136,0.001136,0.001136,0.001136,0.001136,0.001136,0.001136,0.001136
996,1,name0 7 red 128 gb,1010023300 9 10100148200 good condition compl...,602,11,4,19306.768939,15000.0,5096987,27553.595887,...,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500

In [128]:
tdf.to_csv('featurewithtopics2f.csv')
tzf.to_csv('featurewithtopics2testf.csv')

In [104]:
tzf.isnull().sum()

Brand                        0
Model_Info                   0
Additional_Description       0
Locality                     0
City                         0
State                        0
locality_mean                0
locality_median              0
locality_sum                 0
city_mean                    0
city_median                  0
city_sum                     0
state_mean                   0
state_median                 0
state_sum                    0
brand_mean                   0
brand_median                 0
brand_sum                    0
statePrice_median            0
statePrice_mean              0
statePrice_sum               0
cityPrice_median             0
cityPrice_mean               0
cityPrice_sum                0
localityPrice_median         0
localityPrice_mean           0
localityPrice_sum            0
scPrice_median               0
scPrice_mean                 0
scPrice_sum                  0
text                         0
Model_Infolen                0
Additional_Descriptionlen    0
char_count                   0
word_count                   0
word_density                 0
noun_count                   0
verb_count                   0
adj_count                    0
adv_count                    0
0                            0
1                            0
2                            0
3                            0
4                            0
5                            0
6                            0
7                            0
8                            0
9                            0
10                           0
11                           0
12                           0
13                           0
14                           0
15                           0
16                           0
17                           0
18                           0
19                           0
dtype: int64

In [ ]:
topicdf.shape # this may help

In [ ]:
#bert sentence embedding

In [ ]:
from bert_serving.client import BertClient

In [ ]:

bc = BertClient()

In [ ]:
bc.encode(['First do it', 'then do it right', 'then do it better'])

In [ ]:
##named entity recognition

In [ ]:
import spacy
nlp = spacy.load('en_core_web_sm')

from spacy import displacy
from collections import Counter
#nlp = en_core_web_sm.load()

In [ ]:
for row in df['Model_Info']:
    doc = nlp(row)
    if
    df['org']=
    else
    df['org']="NA"
    if
    df['prod']
    else
    df['prod']="NA"

In [ ]:
import tensorflow as tf
from transformers import BertTokenizer, TFBertModel

tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = TFBertModel.from_pretrained('bert-base-uncased')
input_ids = tf.constant(tokenizer.encode("Hello, my dog is cute"))[None, :]  # Batch size 1
outputs = model(input_ids)
last_hidden_states = outputs[0]

In [ ]:
tf.__version__